/* styles.css */

/* Import the Roboto font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Ruda:wght@400..900&display=swap");

:root {
  --primary-color: #28555e;
  --secondary-text-color: #ffffff;
  --icon-color: #d18c5c;
  --font-family: "Roboto", sans-serif;
  --shadow-wite: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-family);
  background-color: var(--primary-color);
  height: 100%;
  width: 100%;
  padding-top: 60px;
}
body section {
  line-height: 1.5;
  font-size: 20px;
  color: var(--secondary-text-color);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
a {
  text-decoration: none;
  color: inherit;
}

h2 {
  align-self: center;
  padding-bottom: 2rem;
}

.header {
  background-color: var(--secondary-text-color);
  color: var(--primary-color);
  position: fixed;
  width: 100%;
  top: 0;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  min-height: 60px;
}
.logo {
  font-weight: 600;
  font-size: 22px;
  padding: 2px;
  letter-spacing: -1px;
}
.logo img {
  width: 1.5em;
}

.logo:hover {
  color: var(--icon-color);
}

.nav {
  transition: all 0.3s ease-in-out;
}
.nav-list {
  display: flex;
  list-style: none;
  column-gap: 25px;
}

.nav-link {
  color: var(--primary-color);
  font-size: 20px;
  transition: all 0.4s;
}

.nav-link:hover {
  color: var(--icon-color);
}

.lang-btn {
  padding: 3px;
  color: var(--primary-color);
  border-radius: 25%;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  height: 2px;
  width: 27px;
  background: var(--primary-color);
  margin: 5px 0;
}

.nav--open {
  transform: translate(0) !important;
}

.hamburger--open .bar:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.hamburger--open .bar:nth-child(2) {
  opacity: 0;
}

.hamburger--open .bar:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}
/* Aboutme section style */

.aboutme-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-items: center;
  padding: 3rem;
}

.aboutme-container p {
  border-radius: 1em;
  padding: 3rem;
  margin: 2rem 7rem;
  box-shadow: 0 0px 10px rgba(255, 255, 255, 3);
}
.aboutme-container > img {
  align-self: center;
  margin-top: 1rem;
  border-radius: 150px;
  box-shadow: 0 0px 10px rgba(255, 255, 255, 3);
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
  z-index: -1;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Work experience sections style */
span {
  color: var(--icon-color);
}
.work-experience-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5rem;
}

/* Educaiton sections style */
.education-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5rem;
}

/* Skills sections style */
.skills-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 5em;
}

.skills-wrapper img {
  padding: 1em;
}

.icon {
  width: 8em;
  height: 8em;
}
.icon-card {
  box-shadow: 0px 2px 15px 2px var(--secondary-text-color);
  border-radius: 3em;
  border-radius: 25px;
  padding: 10px;
  margin: 10px;
}
.icon-card:hover {
  transition: transform 0.3s ease-in-out;
  transform-origin: center;
  transform: scale(1.2);
  box-shadow: none;
}

/* Contact sections style */
.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5rem;
}
.contact-container a {
  color: var(--secondary-text-color);
  text-decoration: none;
}
.contact-container ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style: none;
}

.contact-container a:hover {
  color: var(--icon-color);
  transition: color 0.3s ease;
}
/* Footer section style */
.footer {
  padding: 1rem;
  text-align: center;
  text-shadow: none;
  color: var(--primary-color);
  background-color: var(--secondary-text-color);
  bottom: 0;
}

/* Small devices (landscape phones, less than 768px)------- */
@media screen and (min-width: 600px) and (max-width: 768px) {
  .nav {
    position: fixed;
    top: 60px;
    left: 0;
    background-color: var(--secondary-text-color);
    width: 100%;
    padding: 10px 0 25px;
    transform: translateX(-100%);
  }

  .nav-list {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }

  .nav-link {
    font-size: 18px;
  }

  .hamburger {
    display: block;
  }

  .aboutme-container p {
    border-radius: 0.5em;
    padding: 1.5em;
    margin: 1.5em auto;
    box-shadow: 0 0px 5px rgba(255, 255, 255, 3);
  }

  .work-experience-container,
  .education-container {
    padding: 3em;
    margin: auto;
  }
  .icon {
    width: 7em;
    height: 7em;
  }
}
/* Small devices (portrait phones, less than 600px) ------ */
@media screen and (max-width: 599px) {
  .nav {
    position: fixed;
    top: 60px;
    left: 0;
    background-color: var(--secondary-text-color);
    width: 100%;
    padding: 10px 0 25px;
    transform: translateX(-100%);
  }

  .nav-list {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }

  .nav-link {
    font-size: 20px;
  }

  .hamburger {
    display: block;
  }

  .aboutme-container p {
    border-radius: 1em;
    padding: 1em;
    margin: 1em auto;
    box-shadow: 0 0px 10px rgba(255, 255, 255, 3);
  }

  .work-experience-container,
  .education-container {
    padding: 5em;
    margin: auto;
  }

  .skills-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5rem;
  }

  .icon {
    width: 5em;
    height: 5em;
  }

  .contact-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
}
